.login {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

.loginWrapper {
    width: 78%;
    height: 75%;
    display: flex;
}

.loginNamasteIcon {
    display: inline-block;
    width: 90px;
    height: 80px;
    margin-bottom: 20px;
}

.namaskaramTitle {
    display: flex;
    max-width: 400px;
    max-height: 100px;
    justify-content: space-between;
    align-items: flex-end;
}

.loginLeft,
.loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.loginDesc {
    font-size: 24px;
}

.loginBox {
    height: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.testUserLogin {
    color: #1775ee;
    margin: 2px 0;
}

.testUserLogin:hover {
    color: #064ba7;
}

.testUserLogin:active {
    color: red;
}

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: 1px solid #1775ee;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
}

.loginButton:hover {
    background-color: #286ac2;
}

.loginButton:disabled {
    cursor: not-allowed;
}

.loginRegisterButton {
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.loginRegisterButton:hover {
    background-color: rgb(1, 159, 1);
}

@media (max-width: 765px) {
    .loginWrapper {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }

    .loginLeft {
        margin-bottom: 20px;
    }

    .loginDesc {
        font-size: 22px;
    }

    .testUserLogin {
        text-align: left;
    }

    .loginBox h1 {
        font-size: 28px;
        text-align: left;
    }

    .loginRegisterButton {
        height: 60px;
    }
}

@media (max-width: 400px) {
    .loginLogo {
        font-size: 45px;
    }

    .loginBox h1 {
        font-size: 25px;
        text-align: left;
    }

    .loginDesc {
        font-size: 20px;
    }

    .loginNamasteIcon {
        width: 80px;
        height: 70px;
    }
}