.register {
    width: 100vw;
    padding: 25px;
    background-color: #f0f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

.registerWrapper {
    width: 80%;
    height: 100%;
    display: flex;
}

.loginNamasteIcon {
    display: inline-block;
    width: 90px;
    height: 80px;
    margin-bottom: 20px;
}

.namaskaramTitle {
    display: flex;
    max-width: 400px;
    max-height: 100px;
    align-items: flex-end;
}

.registerLeft,
.registerRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.registerDesc {
    font-size: 24px;
}

.registerBox {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.userImage {
    margin: 10px auto;
    position: relative;
    width: 100px;
    height: 100px;
}

.userImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.addImageButton {
    position: absolute;
    top: 90%;
    left: 80%;
}

.addImageButton input {
    position: absolute;
    top: 25%;
    left: -210%;
    opacity: 0;
    z-index: 999;
    cursor: pointer;
}

.registerInput {
    height: 50px;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 10px;
    outline: none;
    box-shadow: 0 0 2px 0 #1775ee;
}

.dateInput {
    height: 50px;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 10px;
    outline: none;
    box-shadow: 0 0 2px 0 #1775ee;
    width: 100%;
}

.registerButton {
    margin-bottom: 10px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.registerButton:hover {
    background-color: #286ac2;
}

.registerLoginButton {
    margin-bottom: 10px;
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.registerLoginButton:hover {
    background-color: rgb(1, 159, 1);
}

@media (max-width: 765px) {

    .registerWrapper {
        flex-direction: column;
        text-align: left;
        width: 70%;
    }

    .namaskaramTitle {
        max-width: 600px;
        justify-content: center;
    }

    .registerDesc {
        display: none;
    }
}