.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 0.300em;
    padding: 0.800em 0.700em;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
}

.sidebarFriend:hover {
    background-color: rgb(245, 243, 243);
}

.sidebarFriendImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}