.sidebar {
    flex: 3;
    max-width: 25%;
    height: calc(100vh - 5rem);
    overflow-y: scroll;
    position: sticky;
    font-size: 1.6rem;
    top: 5rem;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
    padding: 1rem;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 1.25em;
    padding: 0.625em;
    cursor: pointer;
}

.sidebarListItem:hover {
    background-color: rgb(245, 243, 243);
}

.sidebarIcon {
    margin-right: 1.25em;
}

.sidebarHr {
    margin: 1.25em 0;
}

.sidebarFriendsList {
    padding: 0;
    margin: 0;
    list-style: none;

}

.sidebarFriendSuggestionList {
    margin-bottom: 0.875em;
    text-align: left;
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}