.profile {
    display: flex;
    font-size: 1.6rem;
}

.profileRight {
    flex: 9;
}

.profileCover {
    min-width: 100%;
    height: 50vh;
    position: relative;
}

.profileCoverImg {
    min-width: 100%;
    height: 62%;
    object-fit: cover;
    object-position: left;
}

.profileCover img {
    width: 100%;
}

.addCoverButton {
    position: absolute;
    top: 55%;
    left: 96%;
}

.coverButtonInput {
    position: absolute;
    top: 25%;
    left: -210%;
    opacity: 0;
    z-index: 999;
    cursor: pointer;
}

.profileUserImg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 40%;
}

.profileUserImg img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    border: 3px solid white;
}

.addImageButton {
    position: absolute;
    top: 46%;
    left: 70%;
}

.userButtonInput {
    position: absolute;
    top: 25%;
    left: -210%;
    opacity: 0;
    z-index: 999;
    cursor: pointer;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName {
    font-size: 2.4rem;
}

.profileInfoDesc {
    font-weight: 300;
}

.profileRightBottom {
    display: flex;
}

@media (max-width: 675px) {
    .profileRightBottom {
        flex-direction: column;
    }

    .feed {
        order: 2;
    }

    .rightbar {
        order: 1;
        padding: 0 20px;
        padding-bottom: 20px;
    }

    .profileUserImg {
        left: 30%;
    }

    .addCoverButton {
        left: 88%;
    }
}

@media (max-width: 400px) {
    .profileUserImg {
        left: 23%;
    }
}