.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
    font-size: 1.6rem;
}

.postWrapper {
    padding: 0.625em;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postTopRight {
    position: relative;
}

.editInput {
    outline: none;
    border: none;
    width: 100%;
    font-size: 1.6rem;
}

.optionsButtonContainer {
    width: 100px;
    height: 80px;
    padding: 0 0 10px 0;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    position: absolute;
    text-align: left;
    z-index: 999;
}

.optionsButtonContainer li {
    padding: 10px 7px;
    list-style: none;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.optionsButtonContainer li:hover {
    background-color: #f0f0f0;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.postUsername {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 10px;
    cursor: pointer;
}

.postDate {
    font-size: 1.2rem;
    cursor: default;
}

.postCenter {
    margin: 0.9375em 0;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.bottomIcons {
    margin-right: 0.5rem;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 15px;
}

.postCommentText {
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}